@import 'styles/constants';
@import 'styles/colors';

.wrapper {
  @extend %flex-column;

  align-items: flex-start;
}

.title {
  @include set-font-size(44px, 44px, 700);

  color: $black;
  text-align: center;
  letter-spacing: -0.1rem;
}

.description {
  @include set-font-size(16px, 20px, 600);

  margin-top: 12px;
  color: $grey-118;
  text-align: center;
  letter-spacing: -0.01rem;
}
