@import '../../styles/colors';
@import '../../styles/constants';

.kanban {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  background-color: $grey-247;

  &__main-content {
    @extend %flex-column;

    width: 1200px;
    margin-left: 240px;
  }

  &__wraapper {
    overflow-x: auto;
    display: grid;
    grid-template-columns: repeat(5, 300px);
    gap: 0 24px;

    width: 1200px;
    padding: 24px 32px;
  }
}
