@import 'styles/constants';
@import 'styles/colors';

.squad {
  @extend %flex-column;

  grid-area: squad;

  &__header {
    position: relative;

    display: flex;
    align-items: center;

    height: 60px;
    padding: 24px;

    &::after {
      @include set-team-border;
    }
  }

  &__full-team {
    display: flex;

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      & + label {
        @include set-font-size(18px, 20px, 700);

        position: relative;
        display: flex;
        align-items: center;
        margin-left: 28px;

        &::before {
          content: '';

          position: absolute;
          z-index: 100;
          top: 50%;
          left: -28px;
          transform: translateY(-50%);

          width: 16px;
          height: 16px;

          background-image: url('assets/select-unchecked.svg');
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      &:checked + label::before {
        background-image: url('assets/select-checked.svg');
      }
    }
  }

  &__search {
    display: flex;
    align-items: center;
    margin-left: auto;

    input {
      @include set-font-size(14px, 16px, 600);

      width: 100%;
      height: 100%;
      padding: 8px 8px 8px 32px;

      border: 1px solid $grey-225;
      border-radius: 8px;

      &:focus::placeholder {
        color: transparent;
      }
    }
  }

  &__input-wrapper {
    position: relative;
    width: 255px;
    height: 32px;

    &::before {
      content: '';

      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);

      width: 16px;
      height: 16px;

      background-image: url('assets/icon-search.svg');
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__filter {
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-left: 24px;
  }

  &__table {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px repeat(auto-fill, 72px);
    padding: 0 24px;

    &-header {
      @include set-font-size(14px, 16px, 700);

      position: relative;

      display: grid;
      grid-template-columns: 247px 236px 1fr;
      grid-template-rows: 1fr;

      color: $grey-118;

      &::after {
        @include set-team-border(24px);
      }

      span {
        display: flex;
        align-items: center;
        margin-left: 31px;
      }
    }
  }
}
