@import 'styles/colors';
@import 'styles/constants';

.login {
  @extend %flex-row;

  align-items: center;
  justify-content: center;
  height: 100vh;

  &__promo {
    height: calc(100vh - 24px);
    margin-left: 12px;
  }

  &__wrapper {
    display: grid;
    gap: 40px;
    justify-items: flex-start;
    margin: 0 120px;
  }

  &__inputs {
    width: $ui-width-l;
  }

  &__buttons {
    @extend %flex-column;

    align-items: center;
    width: $ui-width-l;
  }

  &__text {
    @extend %flex-row;

    margin-top: 24px;
  }

  &__question {
    @include set-font-size(16px, 20px, 600);

    margin-right: 4px;
    color: $black;
    letter-spacing: -0.01rem;
  }

  &__redirect {
    @include set-font-size(16px, 20px, 600);

    cursor: pointer;
    color: $blue-62;
    letter-spacing: -0.01rem;

    &:focus {
      @include set-on-focus;
    }
  }
}
