@import 'styles/constants';
@import 'styles/colors';

.account {
  @extend %flex-row;

  column-gap: 12px;
  align-items: center;

  &__image {
    @include set-img-size(44px, 44px);

    background-color: $grey-light;
    border-radius: 50%;
  };

  &__caption {
    @extend %flex-column;

    row-gap: 4px;
    align-items: flex-start;
    max-width: 164px;
  };

  &__user {
    @extend %text-overflow-hidden;

    @include set-font-size(18px, 20px);

    color: $main-black;
  }

  &__role {
    @extend %text-overflow-hidden;

    @include set-font-size(14px, 16px);

    color: $grey-dark;
  }
}
