SECRET_KEY=jgpm20%610rsa0%i(shyklt(%j@siq35cnd%6!ce$)&93ry_r9


# Переменные базы данных
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432