@import 'styles/constants';
@import 'styles/colors';

.teammate {
  position: relative;

  display: grid;
  grid-template-columns: 247px 236px 1fr;
  grid-template-rows: 1fr;

  width: 100%;
  height: 100%;
  padding: 16px 0;

  &::after {
    @include set-team-border(24px);
  }

  &__info {
    @extend %flex-row;

    position: relative;

    .check {
      top: -4px;
      left: -8px;
      width: fit-content;
    }

    &-avatar {
      width: 40px;
      height: 40px;
      margin: 0 12px 0 31px;

      background-color: red;
      border-radius: 50%;
    }

    &-item {
      @extend %flex-column;

      justify-content: space-between;
      padding: 2px 0;
    }

    &-contacts,
    &-time {
      margin-left: 31px;
    }

    &-time {
      @extend %flex-row;

      position: relative;
    }
  }
}

.icon__wrapper {
  cursor: pointer;

  position: absolute;
  top: -8px;
  right: -8px;

  padding: 8px;
}

.text_prime {
  @include set-font-size(14px, 16px, 700);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text_ordinary {
  @include set-font-size(14px, 16px, 600);

  overflow: hidden;

  max-width: 167px;

  color: $grey-118;
  text-overflow: ellipsis;
  white-space: nowrap;
}
