@import 'styles/constants';
@import 'styles/colors';

.intersections {
  grid-area: intersections;
  padding: 16px 16px 20px;

  &__title {
    @extend %flex-row;

    @include set-font-size(18px, 20px, 700);

    align-items: center;
    margin-bottom: 16px;
    padding: 8px 8px 16px;
    border-bottom: 1px solid $grey-225;
  }
}
