// Deprecated
$main-black: rgb(37 37 37 / 100%);
$main-white: rgba(255 255 255 / 100%);
$main-disabled: rgb(217 217 217 / 100%);
$input-border-color: rgb(230 230 230 / 100%);
$input-valid: rgb(14 138 34 / 100%);
$input-invalid: rgb(204 41 41 / 100%);
// New
$research-success: #0E8A22;
$research-error: #CC2929;
$research-white: #fff;
$research-gray-95: #F2F2F2;
$research-gray-90: #E6E6E6;
$research-gray-85: #D9D9D9;
$research-gray-65: #a6a6a6;
$research-gray-50: #878787;
$research-black: #252525;