$main-black: rgb(37 37 37 / 100%);
$main-white: rgba(255 255 255 / 100%);
$main-disabled: rgb(217 217 217 / 100%);
$input-border-color: rgb(230 230 230 / 100%);
$input-valid: rgb(14 138 34 / 100%);
$input-invalid: rgb(204 41 41 / 100%);
