
// TODO: может описать палитру из макета?
$main-black: rgb(37 37 37 / 100%);
$black-text: rgba(0 0 27 / 100%);
$main-white: rgba(255 255 255 / 100%);
$main-disabled: rgb(217 217 217 / 100%);
$input-border-color: rgb(230 230 230 / 100%);
$input-valid: rgb(14 138 34 / 100%);
$input-invalid: rgb(204 41 41 / 100%);
$bright-red: rgba(224 33 16 / 100%);
$grey-light: rgb(230 230 230 / 100%);
$grey-dark: rgb(135 135 135 / 100%);
$white: rgb(255 255 255 / 100%);
$gray-medium: rgba(225 223 235 / 100%);
$blue: rgba(95 121 250 / 100%);
$bright-blue: rgba(56 17 247 / 100%);
$dark-blue: rgba(62 80 214 / 100%);
$gray-text: rgba(118 115 135 / 100%);

