%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%text-overflow-hidden {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// UI
$ui-width: 340px;
$ui-height: 52px;
$ui-border-radius: 12px;

// MIXINS

@mixin set-font-size($font, $line) {
  font-size: $font;
  line-height: $line;
}

@mixin set-block-size($width, $height) {
  width: $width;
  height: $height;
}
