@import 'styles/colors';

// Templates

%flex-column {
  display: flex;
  flex-direction: column;
}

%flex-row {
  display: flex;
  flex-direction: row;
}

%text-overflow-hidden {
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

%main-content-size {
  @extend %flex-column;

  width: 100%;
  max-width: 1200px;
  margin-left: 240px;
}

%smooth-visibility-hidden {
  visibility: hidden;
  opacity: 0;
  transition:
    visibility 0s linear 0.3s,
    opacity 0.3s;
}

%smooth-visibility-visible {
  visibility: visible;
  opacity: 1;
  transition:
    visibility 0s linear 0s,
    opacity 0.3s;
}

%transition-initial {
  opacity: 1;
  transition: opacity 0.2s linear;
}

%transition-hover {
  opacity: 0.6;
}

// Constants
$i: !important;

// UI
$ui-width: 340px;
$ui-width-m: 320px;
$ui-width-l: 400px;
$ui-width-s: 300px;
$ui-width-xs: 76px;
$ui-height: 52px;
$ui-border-radius: 16px;
$ui-border-radius-s: 8px;
$ui-border-radius-m: 12px;
$ui-border-radius-phone: 16px;

// MIXINS

@mixin set-font-size($font, $line, $weight: 400) {
  font-size: $font;
  font-weight: $weight;
  line-height: $line;
}

@mixin set-block-size($width, $height) {
  @include set-font-size(
    // так лучше не делать, теперь этот миксин кроме размеров блока, почему-то меняет шрифт
    14px,
    16px,
    600
  );

  min-width: $width;
  min-height: $height;
  letter-spacing: -0.01rem;
}

@mixin set-background-btn($img-url, $width, $height) {
  cursor: pointer;

  width: $width;
  height: $height;

  background-color: $white;
  background-image: url($img-url);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}

// password stuff
@mixin set-check-validation-icon($icon-path) {
  position: relative;
  padding-left: 15px;

  &::before {
    content: '';

    position: absolute;
    top: 10px;
    left: 0;

    width: 12px;
    height: 100%;

    background-image: url($icon-path);
    background-repeat: no-repeat;
  }
}

@mixin set-on-focus($border-radius: $ui-border-radius) {
  border-radius: $border-radius $i;
  outline: 1px solid $blue-95 $i;
}

@mixin set-team-border($width: 0) {
  content: '';

  position: absolute;
  bottom: 0;
  left: -$width;

  @if $width == 0 {
    width: 100%;
  } @else {
    width: calc(100% + $width * 2);
  }

  height: 1px;

  background-color: $grey-225;
}
