@import 'styles/colors';

:export {
  blue_bg: $blue-229;
  blue_txt: $blue-20;

  cian_bg: $cian-166;
  cian_txt: $cian-0;

  green_bg: $green-206;
  green_txt: $green-0;

  margenta_bg: $margenta-255;
  margenta_txt: $margenta-224;

  orange_bg: $orange-255;
  orange_txt: $orange-224;

  purple_bg: $purple-238;
  purple_txt: $purple-121;
}
