@import 'styles/colors';
@import 'styles/constants';

.react-tel-input {
  @include set-font-size(16px, 20px, 500 $i) ; 

  width: $ui-width-l $i;
  height: $ui-height $i;
  margin-bottom: 12px;
  font-family: 'Tilda Sans', sans-serif $i;
}

.special-label {
  display: none $i;
}

.form-control {
  left: 80px;

  width: $ui-width-m $i;
  height: $ui-height $i;
  padding-left: 20px $i;

  color: $black-text $i;

  border: 1px solid $gray-medium $i;
  border-radius: $ui-border-radius-phone $i;

  &:focus {
    border: 2px solid $blue $i;
  }
}

.flag {
  margin-left: 8px;

  &-dropdown {
    width: $ui-width-xs;
    background-color: $main-white $i;
    border: 1px solid $gray-medium $i;
    border-radius: $ui-border-radius-phone $i;

    &.open {
      border: 2px solid $blue $i;
      border-radius: $ui-border-radius-phone $i;
    }
  }
}

.selected-flag { 
  width: $ui-width-xs $i;
  margin: 0 $i;
  padding: 0 20px $i;

  background: none $i;
  border-radius: $ui-border-radius-phone $i;
}