@import 'styles/colors';
@import 'styles/constants';

.phone-info {
  @extend %flex-column;

  gap: 8px;
  align-items: flex-start;
  align-self: stretch;
  margin: 16px 0 40px;

  &__special-label {
    @include set-font-size(16px, 20px, 600) ;

    color: $main-black;
    letter-spacing: -0.16px;
  }

  &__container {
    width: 100%;

    .phone-info__input {
      @include set-font-size(16px, 20px, 500);

      width: 100%;
      height: $ui-height;
      margin: 8px 0 0;

      letter-spacing: -0.01rem;

      border: 1px solid $input-border-color;
      border-radius: $ui-border-radius $i;

      transition: all 0.15s ease-in-out;
    }
  }
}