@import 'styles/constants';
@import 'styles/colors';

.sidebar {
  @extend %flex-column;

  row-gap: 74px;

  width: 268px;
  height: 90vh;
  padding: 36px 24px 32px;

  border-right: 1px solid $grey-light;

}