@import 'styles/constants';
@import 'styles/colors';

.sidebar {
  @extend %flex-column;

  position: fixed;
  top: 0;
  left: 0;

  overflow-y: auto;

  width: 240px;
  height: 100vh;
  margin: 0;

  border-right: 1px solid $gray-medium;

  &__content {
    flex-grow: 1;
    padding: 36px 24px 32px;
  }

  &__createBtn-container {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 32px 0;

    border-top: 1px solid $gray-medium;

    &__createBtn-container::before {
      border-top: 1px solid $gray-medium;
    }
  }

  &__createBtn {
    @extend %flex-row;

    @include set-block-size(192px, 52px);
    @include set-font-size(16px, 20px);

    cursor: pointer;

    align-items: center;
    justify-content: center;

    color: $bright-blue;

    background-color: $main-white;
    border: 1px solid $bright-blue;
    border-radius: 12px;
  }

  &__plus {
    @include set-block-size(20px, 20px);

    margin-right: 12px;
  }
}