@import 'styles/constants';
@import 'styles/colors';

.t-select {
  &__single-value {
    @include set-font-size(16px, 20px, 400);

    text-align: left;
    letter-spacing: -0.03em;
  }

  &__control {
    width: 120px;
    height: 52px;
    padding: 0 20px;

    border: 1px solid rgb(230 230 230 / 100%);
    border-radius: 12px;

    &--menu-is-open .t-select__indicator {
      transform: rotate(180deg);
    }

    &:focus-within {
      @include set-on-focus;
    }
  }

  &__menu {
    overflow: hidden;

    width: 120px;
    height: fit-content;
    max-height: 276px;
    margin-top: 12px;
    padding: 20px;

    background-color: rgb(255 255 255 / 100%);
    border: 1px solid rgb(230 230 230 / 100%);
    border-radius: 16px;
    box-shadow: 0 5px 50px 5px $blue-0;
  }

  &__menu-list {
    height: fit-content;
    max-height: 260px;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__option {
    @include set-font-size(16px, 20px, 600);

    overflow: hidden;

    max-width: 100%;
    margin: 16px auto;

    text-align: center;
    text-overflow: ellipsis;
    letter-spacing: -0.03em;
    white-space: nowrap;

    &:hover {
      cursor: pointer;
      background-color: rgb(230 230 230 / 100%);
      border-radius: 2px;
    }

    &:first-child {
      margin: 0 auto 5px;
    }
  }

  &__indicators {
    cursor: pointer;
  }
}
