@import 'styles/colors';
@import 'styles/constants';

.input {
  &__wrapper {
    @extend %flex-column;

    @include set-font-size(16px, 20px, 600);

    width: $ui-width-l;

    & + & {
      margin-top: 16px;
    }
  }

  &__label {
    letter-spacing: -0.01rem;
  }

  &__content {
    @extend %flex-column;

    position: relative;
  }

  &__field {
    @include set-font-size(16px, 20px, 500);

    height: $ui-height;
    margin: 8px 0 0;
    padding: 12px 20px;

    letter-spacing: -0.01rem;

    border: 1px solid $input-border-color;
    border-radius: $ui-border-radius;

    transition: all 0.15s ease-in-out;

    &:focus {
      border-color: $main-black;

      &::placeholder {
        color: transparent;
      }
    }

    &_valid {
      border-color: $input-valid;

      &:focus {
        border-color: $input-valid;
      }
    }

    &_invalid {
      border-color: $input-invalid;

      &:focus {
        border-color: $input-invalid;
      }

    }
  }

  &__helperText {
    @include set-font-size(14px, 16px);

    color: $gray-text;

    &_valid {
      color: $input-valid;
    }

    &_invalid {
      color: $input-invalid;
    }

    &_password {
      @include set-check-validation-icon("src/assets/password_neutral.svg");

    &.input__helperText_valid {
      &::before {
        background-image: url("src/assets/password_valid.svg");
      }
    }


    }
  }

  &__errorText {
    @include set-font-size(14px, 16px);

    color: $input-invalid;

    &_password {
      @include set-check-validation-icon("src/assets/password_invalid.svg");
    }
  }

  &__tooglePassword {
    cursor: pointer;
    position: absolute;
    top: 20px + 8px + 13px;
    right: 15px;
  }
}
