@import 'styles/colors';
@import 'styles/constants';

.avatar {
  @extend %flex-row;

  cursor: pointer;
  gap: -20px;
  align-items: center;
  padding: 0 0 0 52px;

  &__image {
    width: 36px;
    height: 36px;
    margin: -10px;
    object-fit: fill;
  }
}
