@import 'styles/colors';
@import 'styles/constants';

.form {
  @extend %flex-column;

  row-gap: 16px;

  > *:first-child {
    margin: 6px 0 0;
  }

  > *:last-child {
    margin: 16px 0 0;
  }

  &__select {
    @extend %flex-row;

    position: relative;

    align-items: center;
    justify-content: space-between;

    width: 263px;
    height: 28px;

    &_title {
      @include set-font-size(16px, 20px, 600);

      padding: 6px 0 0;
      color: $grey-118;
    }
  }
}
