@import '../../styles/colors';
@import '../../styles/constants';

.newmember {
  &__wrapper {
    width: 100%;
    height: fit-content;
    padding: 20px 24px 24px;

    background-color: $white;
    border-radius: $ui-border-radius;
    box-shadow: 0 5px 50px 5px $blue-0;
  }

  &__title {
    @include set-font-size(18px, 20px, 700);

    color: $black;
    letter-spacing: -0.02rem;
  }

  &__description {
    @include set-font-size(16px, 20px, 600);

    padding: 12px 0 20px;
    color: $grey-118;
    letter-spacing: -0.01rem;
  }

  &__form {
    display: grid;
    gap: 12px;
  }

  &__message {
    @include set-font-size(16px, 20px, 600);

    padding-top: 28px;
    color: $black;
    letter-spacing: -0.01rem;
  }
}
