@import 'styles/colors';
@import 'styles/constants';

.profile {
  &__section, &__section_header {
    @extend %flex-row;

    width: 1136px;
    margin: 0;
    padding: 32px 32px 52px;
    border-bottom: 1px solid $gray-medium;
  }

  &__form {
    padding-left: 32px;

    &_photo {
      @extend %flex-row;

      gap: 24px;
      align-items: center;
      margin: 0 0 0 148px;
    }

    &_data {
      @extend %flex-column;

      margin-left: 148px;
    }
  }

  &__img {
    width: 80px;
    height: 80px;
  }

  &__buttons {
    @extend %flex-column;

    align-items: center;
    justify-content: space-between;
    min-width: 80px;
  }

  &__button {
    &_blue {
      @include set-font-size(14px, 16px, 600);

      cursor: pointer;

      width: 166px;
      height: 36px;

      color: $white;
      letter-spacing: -0.01rem;

      background-color: $bright-blue;
      border: none;
      border-radius: 12px;
    }

    &_red {
      @include set-font-size(14px, 16px, 600);

      cursor: pointer;

      width: 154px;
      height: 36px;

      color: $bright-red;
      letter-spacing: -0.01rem;

      background-color: $white;
      border: 1px solid $bright-red;
      border-radius: 12px;
    }
  }

  &__phone {
    @include set-font-size(16px, 20px, 600);

    height: $ui-height;
    margin: 16px 0 8px;
    padding: 12px 20px;

    color: $main-black;
    letter-spacing: -0.01rem;

    border: 1px solid $input-border-color;
    border-radius: $ui-border-radius;

    transition: all 0.15s ease-in-out;
  }
}