@import 'styles/colors';
@import 'styles/constants';

.profile {
  &__section,
  &__section_header {
    @extend %flex-row;

    gap: 148px;

    width: 1136px;
    margin: 32px 0 0 32px;
    padding-bottom: 28px;

    border-bottom: 1px solid $grey-225;
  }

  &__form {
    width: $ui-width-l;

    &_photo {
      @extend %flex-row;

      gap: 24px;
      align-items: center;
      margin: 0;
    }

    &_data {
      @extend %flex-column;
    }

    &_availability {
      @extend %flex-column;

      width: 400px;
    }
  }

  &__img {
    @include set-block-size(80px, 80px);
  }

  &__buttons {
    @extend %flex-column;

    align-items: center;
    justify-content: space-between;
    min-width: 80px;
  }

  &__button {
    &_blue {
      @include set-font-size(14px, 16px, 600);

      @include set-block-size(166px, 36px);

      cursor: pointer;

      color: $main-white;
      letter-spacing: -0.01rem;

      background-color: $bright-blue;
      border: none;
      border-radius: 12px;
    }

    &_red {
      @include set-font-size(14px, 16px, 600);

      @include set-block-size(154px, 36px);

      cursor: pointer;

      color: $bright-red;
      letter-spacing: -0.01rem;

      background-color: $main-white;
      border: 1px solid $bright-red;
      border-radius: 12px;
    }

    &_light-blue {
      @include set-font-size(14px, 16px, 600);

      @include set-block-size(100%, 52px);

      cursor: pointer;

      margin: 24px 0 0;

      color: $main-white;
      letter-spacing: -0.01rem;

      background-color: $bright-blue;
      border: 1px solid $bright-blue;
      border-radius: 12px;

      &:focus {
        @include set-on-focus(12px);
      }
    }
  }

  &__phone {
    @include set-font-size(16px, 20px, 600);

    height: $ui-height;
    margin: 16px 0 8px;
    padding: 12px 20px;

    color: $main-black;
    letter-spacing: -0.01rem;

    border: 1px solid $input-border-color;
    border-radius: $ui-border-radius;

    transition: all 0.15s ease-in-out;
  }
}
