@import 'styles/constants';
@import 'styles/colors';

.header {
  @extend %flex-row;

  position: relative;
  z-index: 100;

  grid-area: header;
  align-items: center;
  justify-content: space-between;

  width: calc(100vw - 240px);
  max-height: 64px;
  padding: 18px 32px;

  background-color: $main-white;
  border-bottom: 1px solid $grey-225;

  &__title {
    @include set-font-size(24px, 28px, 700);

    margin-block-start: 0;
    margin-block-end: 0;

    font-style: normal;
    color: $main-black;
    letter-spacing: -0.48px;
  }

  &__project-menu {
    @extend %flex-row;

    gap: 52px;
  }

  &__icons {
    @extend %flex-row;

    gap: 20px;
    justify-self: flex-end;
  }

  &__changes-status {
    @include set-font-size(16px, 20px, 700);

    font-style: normal;
    color: $main-black;
    text-align: center;
    letter-spacing: -0.32px;
  }

  &__participants {
    position: relative;
  }

  &__participants-count {
    @include set-block-size(40px, 40px);

    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin: -8px;

    background-color: $grey-241;
    border-radius: 28px;
    box-shadow: 0 0 0 1px $grey-225;
  }

  &__participants-extra {
    @include set-font-size(16px, 20px, 600);

    position: absolute;
    left: 0;

    width: 100%;

    font-style: normal;
    color: $grey-text;
    text-align: center;
    letter-spacing: -0.16px;

    background-color: transparent;
  }

  &__project-buttons {
    @extend %flex-row;

    z-index: 1;
    align-items: center;
  }

  &__buttons {
    @extend %flex-row;

    flex-shrink: 0;
    align-items: center;

    height: 32px;
    padding: 0 8px;

    border-radius: 8px;
  }

  &__button-wrapper:has(.header__button-area_active) {
    position: relative;

    &::after,
    &::before {
      content: url('src/assets/header-icons/header-active-angel.svg');

      position: absolute;
      bottom: -10px;

      width: 16px;
      height: 16px;
    }

    &::after {
      left: -15px;
    }

    &::before {
      right: -15px;
      transform: rotateY(180deg);
    }
  }

  &__button-area {
    @extend %flex-row;

    cursor: pointer;

    position: relative;

    gap: 4px;
    align-items: center;

    padding: 12px;

    color: $grey-text;

    background-color: transparent;
    border: none;
    border-radius: 12px 12px 0 0;

    transition: color 0.2s ease-in-out;

    & svg rect {
      stroke: $grey-text;
    }

    & svg path {
      fill: $grey-text;
    }

    &_active {
      color: $blue-26;
      background-color: $grey-247;
      border: 1px solid $grey-225;
      border-bottom: none;

      &::after {
        content: '';

        position: absolute;
        bottom: -10px;
        left: -1px;

        width: calc(100% + 2px);
        height: 12px;

        background-color: $grey-247;
      }

      & svg rect {
        stroke: $blue-26;
      }

      & svg path {
        fill: $blue-26;
      }
    }
  }

  &__switch-icon {
    @include set-block-size(16px, 16px);
  }
}
