@import 'styles/colors';
@import 'styles/constants';

.profile {
  display: block;

  &__info-container {
    width: 220px;
    padding: 0;
  }

  &__subtitle {
    @include set-font-size(20px, 24px, 700);

    margin-bottom: 12px;
    color: $black-text;
    letter-spacing: -0.02rem;
  }

  &__description {
    @include set-font-size(14px, 16px, 600);

    color: $grey-text;
    letter-spacing: -0.01rem;
  }
}
