@import 'styles/constants';
@import 'styles/colors';

.button {
  cursor: pointer;

  width: 100%;
  height: $ui-height;

  color: $white;

  background-color: $blue-56;
  border: none;
  border-radius: $ui-border-radius;

  &:hover {
    background-color: $blue-26;
  }

  &:active {
    background-color: $blue-9;
  }

  &:focus {
    @include set-on-focus;
  }

  &_disabled {
    pointer-events: none;
    cursor: not-allowed;
    background-color: $blue-161;
  }
}
